<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="APP_NAME" value="demo-processor-child"/>
    <property name="LOG_PATH" value="/Users/adreeana/platform/local/logs"/>
    <property name="FILE_LOG_NAME" value="${LOG_PATH}/${APP_NAME}.log"/>

    <appender name="FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_LOG_NAME}</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${FILE_LOG_NAME}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE-LOG"/>
    </root>

</configuration>